/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("http://files.enjin.com/564201/images/bg/bg5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
}
